In [2]:
import mlxtend
import numpy as np
import pandas as pd

In [7]:
data = np.array([['우유', '기저귀', '쥬스'],['양상추', '기저귀', '맥주'],['우유', '양상추', '기저귀', '맥주'],['양상추', '맥주']])

<ipython-input-7-a0ae33e39c05>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data = np.array([['우유', '기저귀', '쥬스'],['양상추', '기저귀', '맥주'],['우유', '양상추', '기저귀', '맥주'],['양상추', '맥주']])

In [8]:
data

array([list(['우유', '기저귀', '쥬스']), list(['양상추', '기저귀', '맥주']),
       list(['우유', '양상추', '기저귀', '맥주']), list(['양상추', '맥주'])],
      dtype=object)

In [21]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [22]:

df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [35]:
%%time
from mlxtend.frequent_patterns import apriori
apriori(df, min_support = 0.5, use_colnames = True)

CPU times: user 5.96 ms, sys: 657 µs, total: 6.62 ms
Wall time: 6.23 ms

   support        itemsets
0     0.75           (기저귀)
1     0.75            (맥주)
2     0.75           (양상추)
3     0.50            (우유)
4     0.50       (맥주, 기저귀)
5     0.50      (양상추, 기저귀)
6     0.50       (우유, 기저귀)
7     0.75       (양상추, 맥주)
8     0.50  (양상추, 맥주, 기저귀)

In [30]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns = te.columns_)

In [31]:
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [36]:
%%time
from mlxtend.frequent_patterns import fpgrowth, association_rules
fpgrowth(df, min_support = 0.5, use_colnames = True)

CPU times: user 2.47 ms, sys: 122 µs, total: 2.59 ms
Wall time: 2.68 ms

   support        itemsets
0     0.75           (기저귀)
1     0.50            (우유)
2     0.75           (양상추)
3     0.75            (맥주)
4     0.50       (맥주, 기저귀)
5     0.50      (양상추, 기저귀)
6     0.50  (양상추, 맥주, 기저귀)
7     0.50       (우유, 기저귀)
8     0.75       (양상추, 맥주)

In [38]:
association_rules(fpgrowth(df, min_support = 0.5, use_colnames = True), metric = 'confidence', min_threshold = 0.5,\
    support_only = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(맥주),(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
1,(기저귀),(맥주),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
2,(양상추),(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
3,(기저귀),(양상추),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
4,"(양상추, 맥주)",(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
5,"(양상추, 기저귀)",(맥주),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
6,"(맥주, 기저귀)",(양상추),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
7,(양상추),"(맥주, 기저귀)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
8,(맥주),"(양상추, 기저귀)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
9,(기저귀),"(양상추, 맥주)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
10,(우유),(기저귀),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
11,(기저귀),(우유),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
12,(양상추),(맥주),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
13,(맥주),(양상추),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf

> 실제에서 이런 apriori, fp-growth 알고리즘을 많이 사용하나요?, 이 알고리즘은 컨텐츠 기반 필터링, 협업 피러링 둘 다 해당하지 않는 것 같은데 맞나요?

> rule 기반의 알고리즘. 단점이 뚜렷. 메모리와 시간을 너무 많이 잡아 먹음. 생성된 규칙이 너무 많아서 적용하기 어려움. apriori는 데이터셋의 의미 정도 파악할 때 잠시 사용하는 느낌